@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;0,600;0,800;1,700&family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,900;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    overflow: hidden;
    
}

.container-box {
    display: flex;
    background-color: #fff;
    width: 400px;
    height: 450px;
    flex-direction: column;
    padding: 4rem 3.5rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .153);
    border: 1px solid rgba(0, 0, 0, .1);
}
h1{
    margin-bottom: 1rem;
    text-align: center;

}
/* =============== inputs zone ================ */
.input-box {
    position: relative;
    margin-bottom: 1.5rem;
    background-color: #f0f0f0;
    padding: .8rem 0 0 0;
    border-radius: .6rem;
}

.input-box::before {
    position: absolute;
    bottom: -1px;
    transform: scaleX(0);
    content: '';
    height: 2.5px;
    width: 100%;
    background-color: #045ad0;
    transition: transform 40ms linear;
}
.input-box input::placeholder{
    opacity: 0;
    
}
.input-box:focus-within{
    border-radius: 8px 8px 0 0;
}
.input-box:focus-within input::placeholder {
    opacity: 1;
    visibility: visible;
    transition: opacity .4s linear;

}
.input-box:not(:focus-within) input::placeholder {
    opacity: 0;
    visibility: hidden;
    transition: none;
}
.input-box:focus-within::before,
.input-box:focus-within
{
    transform: scaleX(1);
    
}

.input-box input {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: .5rem 2.5rem .5rem .7rem;
    border: none;
    background-color: transparent;
    transition: all .3s ease-in-out;
    outline: none;
    
}

.input-box label {
    font-size: .9rem;
    position: absolute;
    top: 0;
    left: 1rem;
    transform: translateY(70%);
    transition: .2s ease-in;
    pointer-events: none;
    opacity: 1;
}

.input-box input:focus~label{
    color: #0c61d8;
}
.input-box input:focus~label,
.input-box input:valid~label {
    transform: translate(-10%, 0%);
    font-size: .8rem;
}
/* ==============end input zone ============ */
.show {
    position: absolute;
    right: 10px;
    top: 0;
    transform: translateY(45%);
}

.show button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: .3rem;
    background-color: transparent;
    cursor: pointer;
    visibility: hidden;
    outline: none;
    width: 1.8rem;
    transition: background-color 400ms;
}
.show button:hover{
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.06);
}
.box{
    margin: -.8rem 0 1.5rem;
}
.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: .9rem;
    
}
.box .box-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    user-select: none;
}
#SingIn{
    background-color: #313131;
    border: transparent;
    color: #fff;
    padding: .7rem 0;
    border-radius: .4rem;
    font-size: 1rem;
    cursor: pointer;
    transition: .1s;
 
}
#SingIn:hover{
    background-color: rgb(89, 89, 89);
}
.creat-acount{
    margin-top: 1rem;
    font-size: .82rem;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: inherit;
}
.bubble{
    position: absolute;
    background-color: pink;
    border-radius: 50%;
    filter: blur(90px);
}
.b-1{
    top: 50%;
    width: 200px;
    height: 200px;
    background-color: red;
    right: -20px;
    z-index: -1;
    overflow: hidden;
}
.b-2{
    top: 0;
    width: 150px;
    height: 150px;
    background-color: blue;
    left: -20px;
    z-index: -1;
    filter: blur(100px);
    overflow: hidden;
}
.b-3{
    bottom: 0;
    width: 250px;
    height: 250px;
    background-color: green;
    z-index: -1;
    overflow: hidden;
    filter: blur(100px);
}

/* ============================================= */
@media  (max-width: 450px) {
    body {
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    .bubble{
        display: none;
    }
    h1{
        margin-bottom: 2.5rem;
    }
    .container-box{
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        padding: 10rem 3rem 0 3rem;
        border-radius: 0;
        box-shadow: none;
        border: none;
    }
}



/* ================senha================================== */
.form-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: all .1s ease;
    visibility: hidden;

}

.form-container {
    max-width: 400px;
    background-color: #fff;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    transform: scale(0.5);
    transition: transform .2s ease;
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  .form-wrapper.active .form-container {
    transform: scale(1);
}
  
  .form-container .logo-container {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #1778f2;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #212121;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #313131;
  }
  
  .form-container .link {
    color: #1778f2;
    text-decoration: none;
  }
  
  .form-container .signup-link {
    align-self: center;
    font-weight: 500;
  }
  
  .form-container .signup-link .link {
    font-weight: 400;
  }
  
  .form-container .link:hover {
    text-decoration: underline;
  }
  
